@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald&display=swap');

.layer-open {
    background-color: #111;
    overflow: hidden;
    position: fixed;

    width: 100%;
    height: 100%;
}
.homeScreen {
    background-color: #111;
    height: 100%;
    /* position: static; */
}
.popup__logo{
    position: fixed;
    top: 20px;
    left: 10px;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}

.not_scroll { /* 여기 지금 position값 변경될 때마다 reactPlayer부분 이상하게 변함. */
    /* position: fixed;
    height: 3000px;
    overflow: hidden; */
}

.popUp{
    color: #fff;
}
.videos {
    display: flex;
    margin-top: 20px;
}

.video {
    color: white;
    align-items: center;
    align-content: center;
}
.video:nth-child(1) {
    flex: 7;
    /* border-right: 3px solid rgba(10, 10, 20, 100); */
}
.video:nth-child(2) {
    flex: 3;
}
