@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans+KR&display=swap');

.mypage {
    height: 100vh;
}

/* Grap logo */
.mypage_nav{
    padding: 10px;
    width: 100%;
    height: 60px;
    z-index: 1;

    /* Animations */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.mypage_nav_logo{
    padding-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}


.mypage_container {
    width: 800px;
    min-width: 50%;
    font-size: 20px;
    
    margin: auto;  
    padding: 20px;
}


.mypage_header{ /* My Info */
    margin-bottom: 5px;
    color: #fff;
}
.account_header{
    font-family: 'Nanum Gothic Coding', monospace;
}

.account_sections {
    font-size: 20px;
    color: #e6e6e6e7;
}
.account_section {
    /* font-family: 'Nanum Gothic Coding', monospace; */
    font-family: 'Noto Sans', sans-serif;


    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid rgba(16, 149, 201, 0.63);
}
.account_section:nth-child(1){
    /* border-top: 5px solid #66b5ae; */
    border-top: 5px solid rgba(16, 149, 201, 0.63);
    margin-bottom: 30px;
}
.account_section:nth-child(2){
    margin-bottom: 50px;
}
.account_section_header .account_section_info .account_section_modify{
    padding: 5px;
}

.account_section_header{ flex: 2; font-size: 20px; }
.account_section_header> .header_title{
    margin-left: 10px;
}


.account_section_info {flex: 2;}
.account_section_info > .email{}
.account_section_info > .password {font-size: 19px; color: gray;}
.account_section_info > .card_info {}
.account_section_info > .card_modify_date {font-size: 14px; color: gray}
.account_section_info > .membership_info{font-size: 30px;}


.account_section_modify{
    flex: 1;
    font-size: 17px;
    text-align: right;
    margin-right: 10px;
    margin-top: 3px;
}

.membership_escape{
    height: 50px;
    width: 170px;

    color: #e6e6e6e7;
    border: 1px solid rgba(16, 149, 201, 0.349);
    background-color: rgba(16, 149, 201, 0.63);

    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    cursor: pointer;

    margin-top: 10px;
    margin-left: 10px;
}
.user_escape:hover, .membership_escape:hover{
    background-color: rgb(16, 149, 201);
    transition-timing-function: ease-in-out;
    transition: all 0.5s;
}


.modify {
    color: red;
}
