@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.popup__Description {
    padding: 20px 20px;
    margin: 5px 5px 50px 5px;
    /* height: 300px; */
}
.title__font {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}
.detail__gameName{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
}

.description__contents {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.game__Poster {
    flex: 1;
    margin-right: 10px;
    max-height: 230px;
}
.game__Description {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}


.game__Description > .detail__Description{
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.game__Description > .detail__content{
    display: flex;
    margin-bottom: 5px;
}


.detail__content > .detail__title{flex: 4; color: rgba(128, 128, 128, 0.966);}
.detail__content > .detail__title > .detail__name {margin-bottom: 5px;}

.detail__content > .detail__desc{flex: 7; color: #67c1f5;}

.detail__content > .detail__desc > .detail__detail {margin-bottom: 5px;}
.detail__content>.detail__desc >.detail__detail:nth-child(3){color: #B9A074;}

.download_btn{
    width: 430px;
    height: 50px;
    position: absolute;
    right: 500px;

	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background-color:#ff6f00;

	border-radius:3px;
	border:1px solid #ff6f00;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
}
.download_btn:hover{
	background-color:#ff6f00e7;
}
.download_btn:active{
	position:relative;
	top:1px;
}
