@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald&display=swap');

.title__font {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}
.popup__Main_video {
    /* height: 500px; */
    padding: 20px 20px;
    margin: 5px 5px;
}
.Video__declaration {
    margin-right: 25px;
    left: 30px;
    height: 25px;
    width: 80px;

    background-color: #111;
    outline: 1px solid #fff;
    color: #fff;
    cursor: pointer;

    float: right;
    overflow: hidden;
}
.Video__declaration2{
    float: right;
    overflow: hidden;
    cursor: pointer;

    margin-top: 5px;
    margin-right: 10px;
}
.Video__declaration:hover {
    transform: translateY(-3px);
}
.flag {
    margin-left: 10px;
    height: 30px;
}