@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.popup__Description {
    padding: 20px 20px;
    margin: 5px 5px 50px 5px;
    /* height: 300px; */
}
.title__font {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}
.detail__gameName{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
}

.description__contents {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.game__Poster {
    flex: 1;
    margin-right: 10px;
    max-height: 230px;
}
.game__Description {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}


.game__Description > .detail__Description{
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.game__Description > .detail__content{
    display: flex;
    margin-bottom: 5px;
}


.detail__content > .detail__title{flex: 4; color: rgba(128, 128, 128, 0.966);}
.detail__content > .detail__title > .detail__name {margin-bottom: 5px;}

.detail__content > .detail__desc{flex: 7; color: #67c1f5;}

.detail__content > .detail__desc > .detail__detail {margin-bottom: 5px;}
.detail__content>.detail__desc >.detail__detail:nth-child(3){color: #B9A074;}

.download_btn{
    width: 420px;
    /* height: 50px; */
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;

	font-size:20px;
	font-weight:bold;
	padding:10px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.download_btn:hover{
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.download_btn:active{
	position:relative;
	top:1px;
}
