@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald&display=swap');

.title__font {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}
.popup__Main_video {
    /* height: 500px; */
    padding: 20px 20px;
    margin: 5px 5px;
}
.Video__declaration {
    margin-right: 25px;
    left: 30px;
    height: 25px;
    width: 80px;

    background-color: #111;
    outline: 1px solid #fff;
    color: #fff;
    cursor: pointer;

    float: right;
    overflow: hidden;
}
.Video__declaration2{
    float: right;
    overflow: hidden;
    cursor: pointer;

    margin-top: 5px;
    margin-right: 10px;
}
.Video__declaration:hover {
    transform: translateY(-3px);
}
.flag {
    margin-left: 10px;
    height: 30px;
}


.Video__btns{
    float: right;
}
.video_tab2{
    height:40px;
    line-height:40px;  
    border-radius:3px;
    background-color: transparent;
    font-size:13px;
    color: #fff;
}
.video_tab2 ul {
    border:1px solid;  
    border-color: rgba(249, 250, 252, 0.5);
    border-top-left-radius: 3px;  
    border-top-right-radius:3px;
    border-bottom-left-radius: 3px; 
    border-bottom-right-radius: 3px; 

    padding-left:0px;
    padding-bottom:5px;
}
  
.video_tab2, 
.video_tab2 ul li {
    width:100px;
    padding-left:20px;
    padding-right:16px;
}

  
.video_tab2:focus {
    border-top-left-radius: 0px;  
    border-top-right-radius:0px;
    border-top:0px;
    margin-top:1px;
    cursor:default;
}
.video_tab2 ul li:hover{
     background-color:rgba(249, 250, 252, 0.2);
}

.video_tab1 {
    position:relative;  
    outline: none;
    cursor:pointer;
}
.video_tab1 ul{
    position:absolute;
    left:-1px; 
    top: 10px;
    list-style:none;
    margin:0;
}
.video__modify__ul{
    display: none;
}

.modify_VideoBtn{
    background-color:#111;
    outline:none;
    border: none;
    color: #fff;
    cursor: pointer;
}
