@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald&display=swap');

.title__font {
    font-size: 20px;
    font-family: Oswald;
}

.popup__Related_Video {
    height: 1500px;
    padding: 20px 20px;
    margin: 5px 5px;
    overflow-y: scroll;
}
.popup__Related_Video::-webkit-scrollbar {
    width: 20px;
}
.popup__Related_Video::-webkit-scrollbar-thumb {
    background-color: gray;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px; 
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.related_poster {
    width: 90%;
    margin-bottom: 10px;
    cursor: pointer;
}
/* .related_poster:hover {
    background-color: #111;
    height: 500px;
    transition: all 2ms;
} */