@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.popup__Description {
    padding: 20px 20px;
    margin: 5px 5px 50px 5px;
    /* height: 300px; */
}
.title__font {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}
.detail__gameName{
    font-family: 'Roboto', sans-serif;

}

.description__contents {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.game__Poster {
    flex: 1;
    margin-right: 10px;
    max-height: 230px;
}
.game__Description {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}


.game__Description > .detail__Description{
    margin-bottom: 10px;
    /* font-family: 'Heebo', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.game__Description > .detail__content{
    display: flex;
    margin-bottom: 5px;
}


.detail__content > .detail__title{flex: 4; color: rgba(128, 128, 128, 0.966);}
.detail__content > .detail__title > .detail__name {margin-bottom: 5px;}

.detail__content > .detail__desc{flex: 7; color: rgba(10, 90, 196, 0.966);}

.detail__content > .detail__desc > .detail__detail {margin-bottom: 5px;}
.detail__content>.detail__desc >.detail__detail:nth-child(3){color: rgba(255, 255, 255, 0.705);}
/* .detail__content > .detail_download{flex: 3;} */

.download_btn{
    height: 50px;
    width: 100%;
    font-size: 15px;

    border: none;
    color: rgba(255, 255, 255, 0.685);
    background-color: rgba(120, 127, 221, 0.4);

    cursor: pointer;
}
.download_btn:hover{
    background-color: rgba(120, 127, 221, 1);
    transition-timing-function: ease-in-out;
    transition: all 0.2s;
}
