.myListScreen {
    position: relative;
    background-color: #111111;
    min-height: 100vh;
}

.myListScreen_body {
    position: relative;
    top: 100px;
    background-color: #111111;
}

.myListScreen_body > h2 {
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
}

.myListScreen_result {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17%, auto));
    gap: 40px 40px;
    place-items: center;
    margin: 40px;
}
