.banner {
    position: relative;
    height: 600px;
    color: white;
    padding-bottom: 80px;
}

.banner_contents {
    height: 100%;
}

.banner_carousel {
    height: 100%;
}

.banner_container {
    height: 100%;
}

.carousel {
    height: 100%;
}

.banner_info {
    position: absolute;
    top: 40%;
    left: 5%;
    max-width: 500px;
    text-align: left;
}

.banner_title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_description {
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    height: 80px;
    margin-bottom: 20px;
}

.banner_button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: #111;
    padding-bottom: 0.5rem;
}

.banner_button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner_fadeBottom {
    height: 70px;
    background-image: linear-gradient(
            180deg,
            transparent,
            rgba(37,37,37,0.61),
            #111
    );
}
