.row_modal {
    display: flex;
    justifyContent: center;
    alignItems: center;
    position: absolute;
    width: 24%;
    cursor: pointer;
    animation: createBox .25s;
}

.modal_item {
    width: 100%;
    textAlign: center;
    borderRadius: 30;
    fontSize: 20;
    color: white;
    height: 100%;
    border-radius: 5px;
    background: #1d2327;
}


@keyframes createBox {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}

