.row_container {
    position: relative;
    height: 200px;
    width: 100%;
    transition: all 400ms;
    text-align: center;
}

.row_item {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    cursor: pointer;
}

.row_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row_video {
    border-radius: 5px;
    margin-bottom: 7px;
}

.row_item{
    transition-delay: 0.3s;
    transition: all 0.3s ease;
}
